.Rproj.user
.Rhistory
.RData
.Ruserdata
/work/Home/islets_multiome_hfd/data_raw
/work/Home/islets_multiome_hfd/data
/work/Home/islets_multiome_hfd/QualityControl
/work/Home/islets_multiome_hfd/ArchRLogs
